<body>
    <footer class="mt-3">
    <div class="footer">
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-twitter"></i>
            </div>
            <div class="f-info-brand"> &copy; Eazypg Pvt Ltd</div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
        <div class="f-explore">
            <h3>Explore</h3>
            <a href="#">About</a><br>
            <a href="#">View PGs and gostels</a><br>
            <a href="#">Finance</a><br>
            <a href="#">Roomies</a><br>
            <a href="#">About us</a>
        </div>
        <div class="contactus">
            <h4>Mail: Eazypg@gmail.com</h4>
            <h4>Contact number: 011 2347 6998</h4>
            <h4>Address: MSIT, Janakpuri</h4>
        </div>
    </div>
    </footer>
</body>