<body>
    <nav class="navbar navbar-expand-lg py-3 mainnav">
        <div class="container-fluid row-8">
          <a class="navbar-brand" href="#"><img src="public/assets/logo.png" alt="logo"></a>
          
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbut row-8 offset-7">
              <a class="nav-link" href="public/pages/view-pg/">View PGs</a>
              <a class="nav-link" href="public/public/pages/finances">Finance</a>
              <a class="nav-link" href="/roomies">Roomies</a>
              <a class="nav-link" href="public/pages/about">About us</a>
            </div>
          </div>
        </div>
      </nav>
</body>