<% layout('/layouts/boilerplate') -%>

<body>
    <div id="hsec1" class="mt-3">
        <div id="hsec1img">
            <img class="hsec1img1" src="https://www.gbdarchitects.com/wp-content/uploads/2013/09/Kiln-Apartments-1-670x569.jpg" alt="photo">
        </div>
        <div id="hsec1content">
            <p class="sec1">Your housing</p>
            <p class="sec1">search,</p>
            <p class="sec1">simplified.</p>
            <br>
            <div class="row-4 offset-3">
            <button type="button" class="btn btn-primary btn-lg servicebtn">View our services</button>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <p class="sec2p1">Search Top Rated PGs and hostels</p>
        <p class="sec2p2">Filter your search by prices, location, facilities and so much more</p>
        <div id="cards">
            <div class="card">
                <div class="image-container">
                    <img src="https://www.thespruce.com/thmb/8DMZ2GWPcwoVoLJ1JATZiYNMvNg=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/9H4A5504copy-4e4e05eda0e74a50a2846d3ac5d9127c.jpg" alt="Luxurious bedroom with modern furnishings">
                </div>
                <div class="rating">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="far fa-star empty-star"></i>
                    <span class="review-count">(100)</span>
                </div>
                <div class="content">
                    <div class="info">
                        <h2>The Manor</h2>
                        <p class="price">starting @13000/-</p>
                        <div class="amenities">
                            <i class="fas fa-bed"></i>
                            <i class="fas fa-wifi"></i>
                            <i class="fas fa-sun"></i>
                        </div>
                    </div>
                    <button class="button">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="image-container">
                    <img src="https://i.pinimg.com/564x/6a/2d/ee/6a2dee5a8791ebd24c79f39d6778c563.jpg" alt="Luxurious bedroom with modern furnishings">
                </div>
                <div class="rating">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="far fa-star empty-star"></i>
                    <span class="review-count">(100)</span>
                </div>
                <div class="content">
                    <div class="info">
                        <h2>The Manor</h2>
                        <p class="price">starting @13000/-</p>
                        <div class="amenities">
                            <i class="fas fa-bed"></i>
                            <i class="fas fa-wifi"></i>
                            <i class="fas fa-sun"></i>
                        </div>
                    </div>
                    <button class="button">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="image-container">
                    <img src="https://www.thespruce.com/thmb/3JonFIDuIdGDLJ-JRaR-daBVN0U=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/DesignByJulieRoseForEHD_Bedroom_PhotoBySaraLigorria-Tramp_1-c85f90e80ac349a195ba03a52d63b00d.jpg" alt="Luxurious bedroom with modern furnishings">
                </div>
                <div class="rating">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="far fa-star empty-star"></i>
                    <span class="review-count">(100)</span>
                </div>
                <div class="content">
                    <div class="info">
                        <h2>The Manor</h2>
                        <p class="price">starting @13000/-</p>
                        <div class="amenities">
                            <i class="fas fa-bed"></i>
                            <i class="fas fa-wifi"></i>
                            <i class="fas fa-sun"></i>
                        </div>
                    </div>
                    <button class="button">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="hsec3 mt-3">
        <p>PGs and Hostels by EazyPG</p>
        <p>Facing difficulties in finding the perfect accomodation? we have got you covered. Select a licensed PG from 200+ Properties in top locations.</p>
        <div class="hsec3des">
            <div class="sec3sec1">
                <p>90+</p>
                <p>cities</p>
                <button type="button" class="btn btn-primary">Explore Now</button><br>
                <a href="#">Why us?</a>
            </div>
            <div class="sec3sec2">
                <i></i>
            </div>
            <div class="sec3sec3">
                <img src="https://i.pinimg.com/736x/5b/1f/b7/5b1fb7b534d084161bb740c880faebc5.jpg" alt="img" class="eazypgimg">
            </div>

        </div>
    </div>
    <div class="aboutus mt-5">
        <div class="aboutusleft">
            <div><p class="aboutp1">About Us</p></div><br>
            <div><p class="aboutp2">The birth of EazyPG</p></div>
            <div><p>It all started with a simple frustration: finding the right place to live and the right people to live with. That's why we created EazyPG- to make finding housing and compatible roommates effortless. Born from our own student struggles, EazyPG helps you find a place that feels like home, close to campus and shared with people whose vibe matches yours. We're not just a company, we are a solution, by students, for students. Finding your next home shouldn't be hard- and with EazyPG, it's not.</p></div>
            <button type="button" class="btn btn-primary btn-lg">Contact us</button>
        </div>
        <div class="aboutusimg">
            <img src="" alt="img">
        </div>

    </div>
    <h1 class="mt-5">What we offer</h1>
    <img src="/assets/whatweoffer.png" alt="offer">
    <h1 class="mt-5">Our Team</h1>
    <div class="team">
        <div class="member">
            <img src="" alt="batman">
            <h3>Sarthak kakar</h3>
        </div>
        <div class="member">
            <img src="" alt="shubh">
            <h3>Shubh bhaskar</h3>
        </div>
        <div class="member">
            <img src="" alt="shivam">
            <h3>Shivam kumar jha</h3>
        </div>
        <div class="member">
            <img src="" alt="beenish">
            <h3>Beenish Uvais</h3>
        </div>
    </div>
</body>